@import '../../_variables.css';


.landing-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.landing-main > h1 {
  color: var(--secondary-color);
  font-family: 'Hubballi';
  font-weight: 300;
  font-size: 96px;
  text-transform: uppercase;
  margin: 0;
}

.landing-main > p {
    margin: 0;
    padding-top: 10px;
    font-size: 20px;
}

.landing-main > a > button {
    margin-top: 80px;
    padding: 10px 30px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    border-radius: 15px;
}

.landing-main img {
  height: 170px;
  width: 172px;
  margin-bottom: 40px;
  will-change: filter;
  transition: filter 300ms;
  transform-style: preserve-3d;  
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.hero:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 768px) { 
  .landing-main > h1 {
    font-size: 48px; 
  }

.landing-main > p {
    font-size: 15px;
}

}