@import "../../../_variables.css";

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-left: 300px;
  margin-right: 300px;
}

#projects h2{
  color: var(--primary-color);
  font-size: 20px;
}

#projects p{
  text-align: center;
}

@media (max-width: 768px) { 
  #projects {
    margin-left: 50px;
    margin-right: 50px;
  }
}