@import "../../../_variables.css";

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
}

#projects .project-item{
  background-color: #4E4C4C;
  display: flex; 
  flex-direction: column;
  height: 450px;
  width: 1550px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
  border: 2px solid #000000;
  margin-bottom: 80px;
}

#projects .project-header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
  width: 1550px;
  -webkit-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;
  border-bottom: 2px solid #000000;
  font-family: 'JetBrains Mono';
}

#projects .project-date {
  background-color: #7E7777;
  position: absolute;  
  width: 110px;
  height: 35px;
  border-radius: 25px;
  border: 2px solid #000000;
  top: 10px;  
  right: 20px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects .project-details {
  padding-left: 30px;
  padding-right: 30px;
}

.project-details h3 {
  font-size: 20px;
}

.project-details p {
  padding-bottom: 20px;
}

.project-details .project-keyword {
  display: inline;
  border-radius: 25px;
  border: 2px solid #000000;  
  margin-right: 15px;
  padding: 8px 15px;
  background-color: #7E7777;
}




/* #projects h2{
  color: var(--primary-color);
  font-size: 20px;
}

#projects p{
  text-align: center;
} */

@media (max-width: 768px) { 
  #projects {
    margin-left: 50px;
    margin-right: 50px;
  }
}