@import './_variables.css';

:root {
  font-family: "Inclusive Sans", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

main {
  margin-top: 30px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 480px) {
  body {
    margin: 0;
    padding: 0;
  }
  
  main {
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }
  
  main {
    margin-top: 50px;
  }
}

@media (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
  }
}

button:hover{
  cursor: pointer;
}